body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h2{
    text-align: center;
}
h1 {
    text-align: center;
}

.theme-toggle {
    text-align: right;
    margin-bottom: 20px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.input-section {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.input-section label, .input-section select, .input-section button {
    display: block;
    margin-bottom: 10px;
}

.input-section select, .input-section button {
    width: 100%;
    padding: 10px;
}

.output-section {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}

#summaryResult {
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    min-height: 100px;
}

.input-section input[type="text"],
.input-section textarea,
.input-section #pagenumbers {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Styles for the processing animation */
.hidden {
    display: none;
  }
  
  #processingAnimation {
    text-align: center;
    padding: 20px;
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .spinner {
    border: 6px solid rgba(0, 0, 0, 0.3);
    border-top: 6px solid #007BFF; /* Customize the spinner color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .pagenumber{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .drop-pdf-upload{
    width: 100%;
    padding: 15px;
    border: 1px solid #333;
    box-sizing:border-box;
  }
  #pdfFileDropArea{
    border: 2px dashed #bbb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font: 18pt bold arial;
    /* color: #bbb; */
  }
  .dragover{
    background-color: #bbb;
  }



